.toolbar-title {
    flex: 1;
    text-align: center;
  }
  .flex-container mat-icon{
    color:#4b0082;
  }
  .flex-container {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .fixSearch{
    width: 0;
  }
  
  .mat-column-id {
    width: 5em;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
  }
  .mat-column-nome {
    width: 20%;
  }
  
  .mat-column-descricao {
    width: 20%;
  }
  
  .mat-column-genero {
    width: 20%;
  }
  
  .mat-column-faixaEtaria {
    width: 20%;
  }
  
  .mat-column-acao {
    text-align: center;
    min-width: 10em;
  }
  