
  <div class="container">
    <h2>Selecione uma Ação</h2>
    
    <mat-grid-list cols="3" rowHeight="200px" gutterSize="20px" class="action-grid">
      
      <!-- Endereços -->
      <mat-grid-tile>
        <button mat-raised-button color="accent" class="action-button" routerLink="/enderecos">
          <mat-icon class="action-icon">location_on</mat-icon>
          <span class="action-text">Endereços</span>
        </button>
      </mat-grid-tile>
  
      <!-- Telefones -->
       
      <!--
      <mat-grid-tile>
        <button mat-raised-button color="accent" class="action-button" routerLink="/telefones">
          <mat-icon class="action-icon">phone</mat-icon>
          <span class="action-text">Telefones</span>
        </button>
      </mat-grid-tile>
      -->

      <!-- Cores -->
      <mat-grid-tile>
        <button mat-raised-button color="accent" class="action-button" routerLink="/cores">
          <mat-icon class="action-icon">palette</mat-icon>
          <span class="action-text">Cores</span>
        </button>
      </mat-grid-tile>
  
      <!-- Cupons de Desconto -->
      <mat-grid-tile>
        <button mat-raised-button color="accent" class="action-button" routerLink="/cupons">
          <mat-icon class="action-icon">local_offer</mat-icon>
          <span class="action-text">Cupons de Desconto</span>
        </button>
      </mat-grid-tile>
  
      <!-- Tamanhos de Tênis -->
      <mat-grid-tile>
        <button mat-raised-button color="accent" class="action-button" routerLink="/tamanhos">
          <mat-icon class="action-icon">fitness_center</mat-icon>
          <span class="action-text">Tamanhos de Tênis</span>
        </button>
      </mat-grid-tile>
  
      <!-- Materiais -->
      <mat-grid-tile>
        <button mat-raised-button color="accent" class="action-button" routerLink="/materiais">
          <mat-icon class="action-icon">build</mat-icon>
          <span class="action-text">Materiais</span>
        </button>
      </mat-grid-tile>
  
      <!-- Marcas -->
      <mat-grid-tile>
        <button mat-raised-button color="accent" class="action-button" routerLink="/marcas">
          <mat-icon class="action-icon">branding_watermark</mat-icon>
          <span class="action-text">Marcas</span>
        </button>
      </mat-grid-tile>
      
    </mat-grid-list>
  </div>
  