.example-spacer {
    flex: 1 1 auto;
}

.toolbar-title {
    flex: 1;
    text-align: center;
}

.flex-container {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: rgb(174, 0, 255);
}

.mat-column-id {
    width: 5em;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
}

.mat-column-ddd {
    width: 30%;
}

.mat-column-numero {
    text-align: center;
    width: 30%;
}

.mat-column-acao {
    text-align: center;
    min-width: 30%;
}

table {
    width: 100%;

}



/* Tabela com bordas e espaçamento */
.mat-elevation-z8 {
    border-radius: 10px;
    overflow: hidden;
}


/* Aumentar o ícone do botão de ação */
button[mat-icon-button] mat-icon {
    font-size: 26px;
}

/* Animação ao passar o mouse nos ícones */
button[mat-icon-button]:hover mat-icon {
    transform: scale(1.2);
    transition: transform 0.2s;
}