<div class="selection-container">
  <button class="back-button" mat-raised-button color="primary">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <button [routerLink]="'/ecommerce'" class="voltar">  
    <img src="../icons/logo-branco.svg" alt="Logo" class="logo" />
  </button>
  
  <h2>Quem é você?</h2>
  <div class="buttons">
    <button mat-raised-button color="primary" (click)="selectPerfil(1)">Sou Cliente</button>
    <button mat-raised-button color="accent" (click)="selectPerfil(2)">Sou Funcionário</button>
  </div>
</div>
