.selection-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to right, #6E45E2, #FF6636);
  color: #fff;
  position: relative; /* Permite posicionar o botão em relação ao container */
}

.selection-container h2 {
  font-size: 28px;
  margin-bottom: 30px;
  color: #fff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.buttons {
  display: flex;
  gap: 20px;
}

button[mat-raised-button] {
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  transition: transform 0.3s, box-shadow 0.3s;
}

button[mat-raised-button]:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* Estilo para o botão de voltar */
.back-button {
  position: absolute;
  top: 15px; /* Menor distância da borda superior */
  left: 15px; /* Menor distância da borda esquerda */
  padding: 8px; /* Reduzindo o padding */
  border-radius: 50%;
  min-width: 20px; /* Diminuindo a largura mínima */
  min-height: 20px; /* Diminuindo a altura mínima */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.back-button mat-icon {
  font-size: 20px; /* Ícone menor */
}

.back-button:hover {
  transform: scale(1.1); /* Mantendo o efeito de hover */
}