h1{
    padding: 10%;
    color:green;
    text-align: center;
}

.message{
    padding: 10%;
    text-align: center;
}

.botao {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Ajuste para espaçamento */
    width: 100%; 
}

button {
    background-color: #4caf50; /* Cor verde */
    color: white; /* Cor do texto */
    border: none;
    border-radius: 8px; /* Bordas arredondadas */
    padding: 10px 20px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    font-weight: bold;
    cursor: pointer; /* Mostra o cursor de clique */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Sombra */
    transition: all 0.3s ease; /* Animações suaves */
}

button:hover {
    background-color: #45a049; /* Cor mais escura no hover */
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3); /* Aumenta a sombra */
   /* transform: scale(1.05);  Aumenta ligeiramente o tamanho */
}

.icon{
    color: #45a049; /* Cor verde */
    font-size: 48px; /* Aumenta o tamanho do ícone */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto; /* Centraliza o ícone horizontalmente */
    height: 56px;
    width: 56px; /* Caso seja necessário */

}
