<mat-toolbar class="toolbar" color="primary">
  <button mat-icon-button (click)="voltarParaEcommerce()" class="voltar-btn">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span class="toolbar-title">Cadastro de Cliente</span>
</mat-toolbar>

<div class="stepper-container">
<mat-vertical-stepper [linear]="isLinear">
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Quem é você?</ng-template>
        <!-- Campos do formulário 1 -->
        <mat-form-field appearance="fill" class="full-width-input">
          <mat-label>Nome</mat-label>
          <input matInput type="text" formControlName="nome">   
      </mat-form-field>
      <mat-form-field appearance="fill" class="full-width-input">
          <mat-label>CPF</mat-label>
          <input matInput type="text" formControlName="cpf">
      </mat-form-field>
        <mat-form-field class="half-width-input">
          <mat-label>Data de nascimento</mat-label>
          <input matInput [matDatepicker]="nascimentoPicker" formControlName="dataNascimento" readonly>
          <mat-hint>Aperte no calendário para inserir a data</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="nascimentoPicker"></mat-datepicker-toggle>
          <mat-datepicker #nascimentoPicker></mat-datepicker>
        </mat-form-field>
        <button mat-button matStepperNext>Próximo</button>
      </form>
    </mat-step>
  


    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Seu usuário</ng-template>
        <!-- Campos do formulário 2 -->
        <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>Username</mat-label>
                    <input matInput type="text" formControlName="username">
                    
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>Senha</mat-label>
                    <input matInput type="text" formControlName="senha">
                   
                </mat-form-field>
        <button mat-button matStepperNext>Próximo</button>
      </form>
    </mat-step>
  


    <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Suas informações</ng-template>
        <!-- Campos do formulário 3 -->
        <mat-form-field appearance="fill" class="half-width-input">
                    <mat-label>DDD</mat-label>
                    <input matInput type="text" formControlName="ddd">
                  
                </mat-form-field>

                <mat-form-field appearance="fill" class="half-width-input">
                    <mat-label>Numero</mat-label>
                    <input matInput type="text" formControlName="numero">
                    
                </mat-form-field>

                <mat-form-field appearance="fill" class="half-width-input">
                    <mat-label>CEP</mat-label>
                    <input matInput type="text" formControlName="cep">
                  
                </mat-form-field>

                <mat-form-field appearance="fill" class="half-width-input">
                    <mat-label>Rua</mat-label>
                    <input matInput type="text" formControlName="rua">
                  
                </mat-form-field>

                <mat-form-field appearance="fill" class="half-width-input">
                    <mat-label>Complemento</mat-label>
                    <input matInput type="text" formControlName="complemento">
                    
                </mat-form-field>
        <button mat-button (click)="salvar()">Salvar</button>
      </form>
    </mat-step>
  </mat-vertical-stepper>
</div>
  