<mat-vertical-stepper [linear]="isLinear">
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <!-- Campos do formulário 1 -->
        <mat-form-field>
          <mat-label>Nome</mat-label>
          <input matInput formControlName="nome" required />
        </mat-form-field>
        <mat-form-field>
          <mat-label>CPF</mat-label>
          <input matInput formControlName="cpf" required />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Data de Nascimento</mat-label>
          <input matInput formControlName="dataNascimento" required />
        </mat-form-field>
        <button mat-button matStepperNext>Próximo</button>
      </form>
    </mat-step>
  
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <!-- Campos do formulário 2 -->
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" required />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Senha</mat-label>
          <input matInput formControlName="senha" required />
        </mat-form-field>
        <button mat-button matStepperNext>Próximo</button>
      </form>
    </mat-step>
  
    <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
        <!-- Campos do formulário 3 -->
        <mat-form-field>
          <mat-label>DDD</mat-label>
          <input matInput formControlName="ddd" required />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Número</mat-label>
          <input matInput formControlName="numero" required />
        </mat-form-field>
        <mat-form-field>
          <mat-label>CEP</mat-label>
          <input matInput formControlName="cep" required />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Rua</mat-label>
          <input matInput formControlName="rua" required />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Complemento</mat-label>
          <input matInput formControlName="complemento" required />
        </mat-form-field>
        <button mat-button (click)="salvar()">Salvar</button>
      </form>
    </mat-step>
  </mat-vertical-stepper>
  