<!-- CABEÇALHO -->
<mat-toolbar color="primary">
    <div class="flex-container">
      <button mat-icon-button color="primary" routerLink="/admin">
        <mat-icon style="color: #4b0082;">home</mat-icon>
      </button>
      
      <div class="fixSearch">
        <button mat-icon-button color="accent" (click)="toggleSearch()">
          <mat-icon>search</mat-icon>
        </button>
        <mat-form-field *ngIf="showSearch" appearance="fill">
          <mat-label>Pesquisar</mat-label>
          <input matInput (input)="applyFilter($event)" placeholder="Digite para filtrar">
        </mat-form-field>
      </div>
      <span class="toolbar-title">Controle de Materiais</span>

      <button mat-fab color="accent" routerLink="/admin/materiais/new">
        <mat-icon>add</mat-icon>
      </button>
    </div>
</mat-toolbar>

<table mat-table [dataSource]="filteredMateriais" class="mat-elevation-z8">

    <!-- Id Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let material"> {{material.id}} </td>
    </ng-container>

    <!-- Descricao Column -->
    <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef> Descricao </th>
        <td mat-cell *matCellDef="let material"> {{material.descricao}} </td>
    </ng-container>

    <!-- Categoria Column -->
    <ng-container matColumnDef="categoria">
        <th mat-header-cell *matHeaderCellDef> Categoria </th>
        <td mat-cell *matCellDef="let material"> {{material.categoria}} </td>
    </ng-container>

    <!-- ação Column -->
    <ng-container matColumnDef="acao">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let material"> 
            <button mat-icon-button color="primary" routerLink="/admin/materiais/edit/{{material.id}}">
                <mat-icon style="color: #4b0082;">edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="excluir(material)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> <!--Colunas que serao exibidas-->
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


<mat-paginator 
    [pageSizeOptions]="[5, 10, 20]" 
    [pageSize]="pageSize"
    [length]="totalRecords"
    (page)="paginar($event)">
</mat-paginator>