<mat-toolbar color="primary">
    <div class="flex-container">
        <span class="toolbar-title">Controle de Materiais</span>
        <button mat-fab color="accent" routerLink="/materiais/new">
            <!--Router Link: Direcionar para outra rota (outro componente para adicionar)-->
            <mat-icon>add</mat-icon>
        </button>
    </div>
</mat-toolbar>

<table mat-table [dataSource]="materiais" class="mat-elevation-z8">

    <!-- Id Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let material"> {{material.id}} </td>
    </ng-container>

    <!-- Descricao Column -->
    <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef> Descricao </th>
        <td mat-cell *matCellDef="let material"> {{material.descricao}} </td>
    </ng-container>

    <!-- Categoria Column -->
    <ng-container matColumnDef="categoria">
        <th mat-header-cell *matHeaderCellDef> Categoria </th>
        <td mat-cell *matCellDef="let material"> {{material.categoria}} </td>
    </ng-container>

    <!-- ação Column -->
    <ng-container matColumnDef="acao">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let material"> 
            <button mat-icon-button color="primary" routerLink="/materials/edit/{{material.id}}">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="excluir(material)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> <!--Colunas que serao exibidas-->
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>