<mat-toolbar color="primary">
  <div style="display: flex; align-items: center;">
      <button (click)="clickMenu()" mat-icon-button>
          <mat-icon>menu</mat-icon>
      </button>
      
      <img src="../icons/logo-branco.svg" alt="Logo" class="logo" />
  </div>

  <div style="display: flex; align-items: center;">
      <span *ngIf="usuarioLogado?.username" style="margin-right: 16px;">{{usuarioLogado?.username}}</span>
      <button mat-icon-button *ngIf="!usuarioLogado?.username" routerLink="/login-selection">
          <mat-icon>login</mat-icon>
      </button>
      <button mat-icon-button *ngIf="usuarioLogado?.username" (click)="deslogar()">
          <mat-icon>logout</mat-icon>
      </button>
  </div>
</mat-toolbar>
