
<mat-toolbar color="primary">

    <button (click)="clickMenu()" mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    
    <span>Passo Certo - ADM</span>
    
    
    
    <mat-toolbar color="primary">

      <span class="faixa-spacer"></span>

      <div *ngIf="!usuarioLogado?.username">
        <button  mat-icon-button routerLink="/login-selection">
          <mat-icon>login</mat-icon>
          
        </button>
      </div>

      <div *ngIf="usuarioLogado?.username">
        <button  mat-icon-button (click)="deslogar()" routerLink="/">
          <mat-icon>logout</mat-icon>
        </button>
      </div>
       
    </mat-toolbar>
    

    <span>{{usuarioLogado?.username}}</span>

</mat-toolbar>