<mat-toolbar color="primary">
    <div class="toolbar-title" *ngIf="formGroup?.get('id')?.value">
        Atualização de Marca
    </div>
    <div class="toolbar-title" *ngIf="!formGroup?.get('id')?.value">
        Cadastro de Marca
    </div>
</mat-toolbar>


<div class="form-container">
    <mat-card>
        <mat-card-content>
            <form [formGroup]="formGroup">
                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>Nome</mat-label>
                    <input matInput type="text" formControlName="nome">
                    <mat-error *ngIf="formGroup.get('nome')
                                    && formGroup.get('nome')?.invalid
                                    && formGroup.get('nome')?.touched">
                        O nome é obrigatório.
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>Logo</mat-label>
                    <input matInput type="text" formControlName="logo">
                    <mat-error *ngIf="formGroup.get('logo')
                                    && formGroup.get('logo')?.invalid
                                    && formGroup.get('logo')?.touched">
                        A logo é obrigatório.
                    </mat-error>
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="salvar()" [disabled]="formGroup.invalid">
                Salvar
            </button>
            <button mat-raised-button *ngIf="formGroup?.get('id')?.value" color="warn" (click)="excluir()" [disabled]="formGroup.invalid">
                Excluir
            </button>
            <button mat-raised-button (click)="cancelar()" routerLink="/marcas">
                Cancelar
            </button>
        </mat-card-actions>
    </mat-card>
</div>