.container {
  padding: 20px;
}

.categorias{
  height: 60px;
}

.responsive-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

mat-card {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
}

mat-card img {
  height: 200px;
  object-fit: cover;
}

mat-card-title, mat-card-content {
  text-align: center;
}

.cart-badge {
  background: red;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 0.8em;
  position: relative;
  top: -10px;
  left: -10px;
}

.logo {
  height: 40px;
  margin-right: 20px;
}

.toolbar-left {
  display: flex;
  align-items: center;
  flex: 1;
}

.search-bar {
  flex: 1;
  margin-left: 20px;
}

.toolbar-right {
  display: flex;
  align-items: center;
  gap: 20px;

}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  height: 100px;
  background-color: #000; /* Preto */
  color: #fff; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Sombra */
  border-bottom: 2px solid #c7c5c5; /* Linha inferior (opcional) */
}

@media (max-width: 768px) {
  .search-bar {
    display: none;
  }

  mat-toolbar {
    height: 60px; /* Altura menor para dispositivos móveis */
  }
  
  .toolbar-right {
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
  }
  
  mat-card img {
    height: 150px;
  }
}
