<mat-toolbar>
    <div class="toolbar-left">
      <img src="tenis-angular\src\assets\logo.jpeg" alt="Logo" class="logo" />
      <mat-form-field appearance="outline" class="search-bar">
        <mat-label>Digite o que você procura</mat-label>
        <input matInput (input)="applyFilter($event)" placeholder="Pesquisar..."/>
        <button mat-icon-button matSuffix>
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="toolbar-right">

      <div class="central-atendimento">
        <button class="central-btn" mat-button ><mat-icon>support_agent</mat-icon> Central de Atendimento</button>
        <div class="info-popup">
          <p>Estamos no WhatsApp <br>
            <strong><a href="https://w.app/PassoCerto">(12) 97407-0170</a></strong> <br>
            
            Horário de atendimento: <BR>10h às 18h
          </p>
        </div>
      </div>
  
      <div class="central-atendimento">
        <button mat-button><mat-icon >person</mat-icon> Minha Conta</button>
        <div class="info-popup">
          <p>Olá 
            <strong *ngIf="usuarioLogado?.username">{{usuarioLogado?.username}}</strong>
            <strong *ngIf="!usuarioLogado?.username">visitante</strong>
          </p>
          
          <button *ngIf="!usuarioLogado?.username" mat-button color="#fa7d32" style="width: 100%; padding: 10px;" routerLink="/login-selection">
            <mat-icon>login</mat-icon>
            Entrar
          </button>

          <button *ngIf="usuarioLogado?.username" mat-button color="#fa7d32" style="width: 100%; padding: 10px;" routerLink="/minha-conta">
            <mat-icon>account_circle</mat-icon>
            Dados Pessoais
          </button>

          <br>

          <button *ngIf="usuarioLogado?.username" mat-button color="#fa7d32" style="width: 100%; padding: 10px;">
            <mat-icon>inventory_2</mat-icon>
            Meus Pedidos
          </button>

          <br>

          <button *ngIf="usuarioLogado?.username" mat-button color="#fa7d32" style="width: 100%; padding: 10px;" (click)="deslogar()">
            <mat-icon>cancel</mat-icon>
            Desconectar
          </button>

        </div>
      </div>


      <button mat-icon-button [routerLink]="'/carrinho'">
        <mat-icon>shopping_cart</mat-icon>
        <span class="cart-badge">0</span>
      </button>
      
    </div>
  </mat-toolbar>
  
  <div class="categorias">
    <button mat-button [class.active]="!categoriaSelecionada" (click)="limparCategorias()">Todos</button>
    <button
      mat-button
      *ngFor="let categoria of categorias"
      [class.active]="categoriaSelecionada === categoria.id"
      (click)="filtrarPorCategoria(categoria)"
    >
    {{categoria.nome}} - {{categoria.genero}} - {{categoria.faixaEtaria}}
    </button>
  </div>
  


<div class="container responsive-grid">
    <mat-card *ngFor="let card of cards()">
        
        <img mat-card-image [src]="card.imageUrl" />
        
        <mat-card-title class="centered-text">{{card.titulo}}</mat-card-title>
        <mat-card-content class="centered-text">
            {{card.nome}}
        </mat-card-content>
        <br/>
        <mat-card-content class="centered-text">
            R${{card.precoVenda}},00
        </mat-card-content>
        <mat-card-actions class="centered-text">
            <button mat-button color="#fa7d32" style="width: 100%; padding: 10px;" (click)="openDetalhes(card)">Quero ver mais informações!</button>
        </mat-card-actions>
        <mat-card-footer>
          <button mat-button color="accent" style="width: 100%; padding: 16px; text-align: center;" (click)="adicionarAoCarrinho(card)">Adicionar ao Carrinho </button>
        </mat-card-footer>
    </mat-card>
</div>