.container {
  padding: 20px;
}

.categorias {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin: 16px 0;
  flex-wrap: wrap;
  overflow-x: auto;
}

.categorias button {
  text-transform: uppercase;
  font-weight: bold;
  white-space: nowrap;
  color: #4b0082; /* Índigo Escuro */
}

.categorias button.active {
  background-color: #800080; /* Roxo */
  color: white;
  font-weight: bold;
}

.responsive-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

mat-card {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  background-color: #f8f8ff; /* GhostWhite */
}

mat-card img {
  height: 200px;
  object-fit: cover;
}

mat-card-title,
mat-card-content {
  text-align: center;
  color: #4b0082; /* Índigo Escuro */
}

.cart-badge {
  background: #800080; /* Roxo */
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 0.8em;
  position: relative;
  top: -10px;
  left: -10px;
}

.logo {
  max-height: 150px; /* Ajuste a altura máxima para caber no mat-toolbar */
  max-width: 100%; /* Evita que a largura ultrapasse o container */
  object-fit: contain; /* Garante que a imagem se ajuste sem distorções */
}
.voltar{
  max-height: 150px; /* Ajuste a altura máxima para caber no mat-toolbar */
  max-width: 100%; /* Evita que a largura ultrapasse o container */
  background: transparent; /* Remove o fundo do botão */
  border: none; /* Remove bordas do botão */
  cursor: pointer; /* Garante que seja clicável */
}

.toolbar-left {
  display: flex;
  align-items: center;
  flex: 1;
  color: #d6a5fa;
}

.search-bar {
  flex: 1;
  margin-left: 20px;

}

.search-bar mat-label, .search-bar input{
  color:#d6a5fa;
}

.toolbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #dda0dd; /* Orquídea */
}
.toolbar-right button {
 
  color: #dda0dd;;

}
mat-toolbar {
  display: flex;
  justify-content: space-between;
  height: 100px;
  background-color: #2e0854; /* Roxo escuro */
  color: #dda0dd; /* Orquídea */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid #4b0082;
}
mat-card-actions {
  display: flex;         /* Ativa o flexbox */
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  align-items: center;   /* Centraliza o conteúdo verticalmente */
}

mat-card-actions button {
  margin: 0 auto;
  display: block; 
  color: #800080;
  background-color: #dda0dd;;

}

mat-card-footer button {
  background-color: #800080;
  color: white;
}

.mat-form-field-outline {
  border-color: #800080; /* Roxo */
}

.mat-form-field-outline-thick {
  border-color: #dda0dd; /* Orquídea */
}

@media (max-width: 768px) {
  .search-bar {
    display: none;
  }

  mat-toolbar {
    height: 60px;
  }

  .toolbar-right {
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
  }

  mat-card img {
    height: 150px;
  }
}


.central-atendimento {
  position: relative;
  display: inline-block;
}

.central-btn {
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.info-popup {
  display: none;
  position: absolute;
  top: 110%; /* Aparece logo abaixo do botão */
  left: 50%;
  transform: translateX(-50%);
  background-color: #f8f8ff; /* GhostWhite */
  color: #4b0082; /* Índigo Escuro */
  border: 1px solid #800080;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
  z-index: 10;
  width: 180px; /* Diminuir a largura */
  font-size: 0.85rem;
}

.central-atendimento:hover .info-popup {
  display: block;
}









::ng-deep .mat-snack-bar-container {
  background-color: #4caf50; /* Cor de fundo verde (sugestão) */
  color: white;  /* Cor do texto */
  border-radius: 8px; /* Borda arredondada */
  padding: 16px 24px; /* Mais padding para dar um visual mais elegante */
  font-size: 16px; /* Tamanho de fonte maior */
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2); /* Sombras para destaque */
}

::ng-deep .mat-snack-bar-action {
  color: #ffffff; /* Cor do texto de "fechar" */
  font-weight: bold;
}

::ng-deep .mat-snack-bar-container .mat-simple-snackbar {
  font-size: 16px; /* Tamanho de fonte do conteúdo da snackbar */
}
