<mat-toolbar color="primary">
    <div class="flex-container">
        <button mat-icon-button color="primary" routerLink="/">
            <mat-icon>home</mat-icon>
        </button>
        
        <div class="fixSearch">
            <button mat-icon-button color="accent" (click)="toggleSearch()">
              <mat-icon>search</mat-icon>
            </button>
            <mat-form-field *ngIf="showSearch" appearance="fill">
              <mat-label>Pesquisar</mat-label>
              <input matInput (input)="applyFilter($event)" placeholder="Digite para filtrar">
            </mat-form-field>
        </div>
        
        <span class="toolbar-title">Todos os Tenis</span>
    </div>
</mat-toolbar>

<div class="container responsive-grid">
    <mat-card *ngFor="let card of cards()">
        
        <img mat-card-image [src]="card.imageUrl" />
        
        <mat-card-title class="centered-text">{{card.titulo}}</mat-card-title>
        <mat-card-content class="centered-text">
            {{card.nome}}
        </mat-card-content>
        <br/>
        <mat-card-content class="centered-text">
            {{card.precoVenda}}
        </mat-card-content>
        <mat-card-actions class="centered-text">
            <button mat-button color="primary">Ver Mais ...</button>
        </mat-card-actions>
        <mat-card-footer>
            <button mat-button 
                color="accent"
                style="width: 100%; padding: 16px;">
                Adicionar ao Carrinho
            </button>
        </mat-card-footer>
    </mat-card>
</div>