<mat-toolbar>
  <div class="toolbar-left">
    <button [routerLink]="'/ecommerce'" class="voltar">  
      <img src="../icons/logo-branco.svg" alt="Logo" class="logo" />
    </button>

  </div>
  <div class="toolbar-right">

    <div class="central-atendimento">
      <button class="central-btn" mat-button ><mat-icon>support_agent</mat-icon> Central de Atendimento</button>
      <div class="info-popup">
        <p>Estamos no WhatsApp <br>
          <strong><a href="https://w.app/PassoCerto">(12) 97407-0170</a></strong> <br>
          Horário de atendimento: <BR>10h às 18h
        </p>
      </div>
    </div>

    <div class="central-atendimento">
      <button class="central-btn" mat-button><mat-icon >person</mat-icon> Minha Conta</button>
      <div class="info-popup">
        <p>Olá 
          <strong *ngIf="usuarioLogado?.username">{{usuarioLogado?.username}}</strong>
          <strong *ngIf="!usuarioLogado?.username">visitante</strong>
        </p>
        
        <button *ngIf="!usuarioLogado?.username" mat-button color="#fa7d32" style="width: 100%; padding: 10px;" routerLink="/login-selection">
          <mat-icon>login</mat-icon>
          Entrar
        </button>

        <button *ngIf="usuarioLogado?.username" mat-button color="#fa7d32" style="width: 100%; padding: 10px;" routerLink="/minha-conta">
          <mat-icon>account_circle</mat-icon>
          Dados Pessoais
        </button>

        <br>

        <button *ngIf="usuarioLogado?.username" mat-button color="#fa7d32" style="width: 100%; padding: 10px;" routerLink="/meus-pedidos">
            <mat-icon>inventory_2</mat-icon>
          Meus Pedidos
        </button>

        <br>

        <button  *ngIf="usuarioLogado?.username" mat-button color="#fa7d32" style="width: 100%; padding: 10px;" (click)="deslogar()">
          <mat-icon>cancel</mat-icon>
          Desconectar
        </button>

      </div>
    </div>


    <button class="central-btn" mat-icon-button [routerLink]="'/carrinho'">
      <mat-icon>shopping_cart</mat-icon>
      <span class="cart-badge">{{ carrinhoService.quantidadeTotalItens() }}</span> <!-- Exibe a quantidade total de itens -->
    </button>
    
  </div>
</mat-toolbar>









<div class="checkout-container">
  <!-- Resumo do Carrinho -->
  <div class="checkout-section">
    <h3 class="section-title">1. Produtos</h3>
    <div *ngFor="let item of carrinhoItens" class="product-item">
      <span>{{ item.nome }}</span>
      <span>{{ item.quantidade }}x</span>
      <span>{{ item.preco | currency:'BRL' }}</span>
    </div>
    <div class="product-total">
      <strong>Subtotal:</strong> {{ calcularTotal() | currency:'BRL' }}
    </div>
  </div>

  <!-- Dados do Cliente -->
  <div class="checkout-section">
    <h3 class="section-title">2. Dados cadastrais</h3>
    <div class="user-info">
      <p><strong>Nome:</strong> {{ usuario.nome }}</p>
      <p><strong>Telefone:</strong> ({{ usuario.telefone.ddd }}) {{ usuario.telefone.numero }}</p>

      <!--<p><strong>Email:</strong> {{ usuario.listaEndereco[0].cep }}</p>-->
      <p><strong>CPF:</strong> {{ usuario.cpf }}</p>
    </div>
  </div>


  <div class="checkout-section">
    <h3 class="section-title">3. Endereço</h3>
    <div class="user-info">
      <p><strong>CEP:</strong> {{ usuario.listaEndereco[0].cep }}</p>
      <p><strong>Rua:</strong> {{ usuario.listaEndereco[0].rua }}</p>
      <p><strong>Complemento:</strong> {{ usuario.listaEndereco[0].complemento }}</p>
    </div>
  </div>

  <!-- Opções de Entrega -->
  <div class="checkout-section">
    <h3 class="section-title">4. Entrega</h3>
    <div *ngFor="let opcao of opcoesEntrega" class="shipping-option">
      <label>
        <input type="radio" name="frete" [value]="opcao" />
        {{ opcao.descricao }} - {{ opcao.valor | currency:'BRL' }} ({{ opcao.prazo }} dias úteis)
      </label>
    </div>
  </div>

  <!-- Opções de Pagamento -->
  <div class="checkout-section">
    <h3 class="section-title">5. Pagamento</h3>
    <div class="payment-option">
      <label>
        <input type="radio" name="pagamento" value="pix" /> Pix (5% de desconto)
      </label>
      <label>
        <input type="radio" name="pagamento" value="boleto" /> Boleto (5% de desconto)
      </label>
      <label>
        <input type="radio" name="pagamento" value="cartao" /> Cartão de Crédito
      </label>
    </div>
  </div>

  <!-- Botão Finalizar Compra -->
  <div class="checkout-footer">
    <button (click)="finalizarCompra()" class="btn">Finalizar Compra</button>
  </div>
</div>
