.toolbar-title {
    flex: 1;
    text-align: center;
  }
  
  .flex-container {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .fixSearch{
    width: 0;
  }
  
  .mat-column-id {
    width: 5em;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
  }
  .mat-column-nome {
    width: 9%;
  }
  
  .mat-column-quantidade {
    width: 9%;
  }
  
  .mat-column-peso {
    width: 9%;
  }
  
  .mat-column-precoCompra {
    width: 9%;
  }
  
  .mat-column-precoVenda {
    width: 9%;
  }
  
  .mat-column-marca {
    width: 9%;
  }
  
  .mat-column-material {
    width: 9%;
  }
  
  .mat-column-cor {
    width: 9%;
  }
  
  .mat-column-categoria {
    width: 9%;
  }
  
  .mat-column-tamanho {
    width: 9%;
  }
  
  .mat-column-acao {
    text-align: center;
    min-width: 5em;
  }

/* Tabela com bordas e espaçamento */
.mat-elevation-z8 {
    border-radius: 10px;
    overflow: hidden;
}


/* Aumentar o ícone do botão de ação */
button[mat-icon-button] mat-icon {
    font-size: 26px;
}

/* Animação ao passar o mouse nos ícones */
button[mat-icon-button]:hover mat-icon {
    transform: scale(1.2);
    transition: transform 0.2s;
}
