<mat-toolbar color="primary">
    <div class="flex-container">
        <button mat-icon-button color="primary" routerLink="/admin">
            <mat-icon style="color: #4b0082;">home</mat-icon>
        </button>
        <div class="fixSearch">
            <button mat-icon-button color="accent" (click)="toggleSearch()">
              <mat-icon style="color: #4b0082;">search</mat-icon>
            </button>
            <mat-form-field *ngIf="showSearch" appearance="fill">
              <mat-label>Pesquisar</mat-label>
              <input matInput (input)="applyFilter($event)" placeholder="Digite para filtrar">
            </mat-form-field>
        </div>
        <span class="toolbar-title">Controle de Tenis</span>
        <button mat-fab color="accent" routerLink="/admin/tenis/new">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</mat-toolbar>

<!-- Filtros por Categoria, Cor e Marca -->
<div class="filter-container">
  <span class="filter-title">Selecione um filtro</span>
    <mat-form-field appearance="fill">
      <mat-label>Categoria (Apenas nome)</mat-label>
      <mat-select [(ngModel)]="selectedCategoria" (selectionChange)="applyFilters()">
        <mat-option *ngFor="let categoria of categorias" [value]="categoria.nome">
          {{ categoria.nome }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Cor</mat-label>
      <mat-select [(ngModel)]="selectedCor" (selectionChange)="applyFilters()">
        <mat-option *ngFor="let cor of cores" [value]="cor.nome">
          {{ cor.nome }}
        </mat-option>
      </mat-select>
    </mat-form-field>   
  
    <mat-form-field appearance="fill">
      <mat-label>Marca</mat-label>
      <mat-select [(ngModel)]="selectedMarca" (selectionChange)="applyFilters()">
        <mat-option *ngFor="let marca of marcas" [value]="marca.nome">
          {{ marca.nome }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
    <button mat-button (click)="resetFilters()">Resetar Filtros</button>
</div>

<table mat-table [dataSource]="filteredTenis" class="mat-elevation-z8">

    <!-- Id Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let tenis"> {{tenis.id}} </td>
    </ng-container>

    <!-- Nome Column -->
    <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let tenis"> {{tenis.nome}} </td>
    </ng-container>

    <!-- Quantidade Column -->
    <ng-container matColumnDef="quantidade">
        <th mat-header-cell *matHeaderCellDef> Quantidade </th>
        <td mat-cell *matCellDef="let tenis"> {{tenis.quantidade}} un. </td>
    </ng-container>
    
    <!-- Peso Column -->
    <ng-container matColumnDef="peso">
        <th mat-header-cell *matHeaderCellDef> Peso </th>
        <td mat-cell *matCellDef="let tenis"> {{tenis.peso}}g</td>
    </ng-container>
    
    <!-- Preço Compra Column -->
    <ng-container matColumnDef="precoCompra">
        <th mat-header-cell *matHeaderCellDef> Preço Compra </th>
        <td mat-cell *matCellDef="let tenis"> {{tenis.precoCompra | currency:'BRL':'symbol':'1.2-2' }} </td>
    </ng-container>
    
    <!-- Preço Venda Column -->
    <ng-container matColumnDef="precoVenda">
        <th mat-header-cell *matHeaderCellDef> Preço Venda </th>
        <td mat-cell *matCellDef="let tenis"> {{tenis.precoVenda | currency:'BRL':'symbol':'1.2-2' }} </td>
    </ng-container>
    
    <!-- Marca Column -->
    <ng-container matColumnDef="marca">
        <th mat-header-cell *matHeaderCellDef> Marca </th>
        <td mat-cell *matCellDef="let tenis"> <img [src]="tenis.marca.logo" [alt]="'Esta é a logo da marca ' + tenis.marca.nome" loading="eager"> </td>
    </ng-container>
    
    <!-- Material Column -->
    <ng-container matColumnDef="material">
        <th mat-header-cell *matHeaderCellDef> Material </th>
        <td mat-cell *matCellDef="let tenis"> {{tenis.material.descricao}} </td>
    </ng-container>
    
    <!-- Cor Column -->
    <ng-container matColumnDef="cor">
        <th mat-header-cell *matHeaderCellDef> Cor </th>
        <td mat-cell *matCellDef="let tenis"> {{tenis.cor.nome}} - {{tenis.cor.codigoHex}} </td>
    </ng-container>
    
    <!-- Categoria Column -->
    <ng-container matColumnDef="categoria">
        <th mat-header-cell *matHeaderCellDef> Categoria </th>
        <td mat-cell *matCellDef="let tenis"> {{tenis.categoria.nome}} - {{tenis.categoria.faixaEtaria}} </td>
    </ng-container>
    
    <!-- Tamanho Column -->
    <ng-container matColumnDef="tamanho">
        <th mat-header-cell *matHeaderCellDef> Tamanho </th>
        <td mat-cell *matCellDef="let tenis"> {{tenis.tamanho.numeracao}} - {{tenis.tamanho.pais}}</td>
    </ng-container>

    <!-- ação Column -->
    <ng-container matColumnDef="acao">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let tenis"> 
            <button mat-icon-button color="primary" routerLink="/admin/tenis/edit/{{tenis.id}}">
                <mat-icon style="color: #4b0082;">edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="excluir(tenis)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> <!--Colunas que serao exibidas-->
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator 
    [pageSizeOptions]="[5, 10, 20]" 
    [pageSize]="pageSize"
    [length]="totalRecords"
    (page)="paginar($event)">
</mat-paginator>