.toolbar-title {
    flex: 1;
    text-align: center;
  }
  
  .flex-container {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .flex-container mat-icon{
    color:#4b0082;
  }
  .fixSearch{
    width: 0;
  }
  
table {
    width: 100%;
}

th.mat-header-cell, td.mat-cell {
    text-align: center;
    padding: 8px;
}

.mat-column-id {
    width: 10%;
}

.mat-column-codigo {
    width: 25%;
}

.mat-column-porcentagemDesconto {
    width: 20%;
}

.mat-column-valorDesconto {
    width: 20%;
}
.mat-column-dataVencimento {
    width: 20%;
}

.mat-column-acao {
    width: 15%;
    text-align: right; /* Alinha o conteúdo da coluna "Ação" à direita */
    padding-right: 16; /* Remove padding adicional */
}

/* Tabela com bordas e espaçamento */
.mat-elevation-z8 {
    border-radius: 10px;
    overflow: hidden;
}


/* Aumentar o ícone do botão de ação */
button[mat-icon-button] mat-icon {
    font-size: 26px;
}

/* Animação ao passar o mouse nos ícones */
button[mat-icon-button]:hover mat-icon {
    transform: scale(1.2);
    transition: transform 0.2s;
}
