<div class="detalhes-container">
    <div class="detalhes-header">
      <img [src]="imageUrl" alt="Imagem do Tênis" class="detalhes-imagem" />
      <div class="detalhes-info">
        <h1>{{ tenis?.nome }}</h1>
        <div class="detalhes-preco">
          <span>R$ {{ tenis?.precoVenda }}</span>
        </div>
        <p class="detalhes-descricao">Descrição do Produto:</p>
        <p class="descricao-texto">{{ tenis?.categoria?.descricao }}</p>
      </div>
    </div>
  
    <div class="detalhes-especificacoes">
      <h2>Especificações</h2>
      <table class="especificacoes-tabela">
        <tr>
          <td><strong>Marca:</strong></td>
          <td>{{ tenis?.marca?.nome }}</td>
          <td *ngIf="tenis?.marca?.logo">
            <img [src]="tenis?.marca?.logo" alt="Logo da Marca" class="marca-logo"/>
          </td>
        </tr>
        <tr>
          <td><strong>Material:</strong></td>
          <td>{{ tenis?.material?.descricao }}</td>
        </tr>
        <tr>
          <td><strong>Cor:</strong></td>
          <td>{{ tenis?.cor?.nome }}</td>
        </tr>
        <tr>
          <td><strong>Tamanho:</strong></td>
          <td>{{ tenis?.tamanho?.numeracao }} ({{ tenis?.tamanho?.tamanhoEmCm }} cm)</td>
        </tr>
        <tr>
          <td><strong>Categoria:</strong></td>
          <td>{{ tenis?.categoria?.nome }} - {{ tenis?.categoria?.genero }} - Faixa etária: {{ tenis?.categoria?.faixaEtaria }}</td>
        </tr>
        <tr>
          <td><strong>Peso:</strong></td>
          <td>{{ tenis?.peso }}g</td>
        </tr>
        <tr>
          <td><strong>Quantidade disponível:</strong></td>
          <td>{{ tenis?.quantidade }}</td>
        </tr>
      </table>
    </div>
  
    <div class="detalhes-actions">
      <button mat-button color="accent" class="adicionar-carrinho">
        Adicionar ao Carrinho
      </button>
    </div>
  
    <div class="voltar">
      <button mat-button (click)="Voltar()">Voltar</button>
    </div>
  </div>
  