/* Container geral */
.detalhes-container {
  padding: 20px;
}

.detalhes-header {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.detalhes-imagem {
  max-width: 450px; 
  height: auto;
  object-fit: cover;
}

.detalhes-info {
  flex: 1;
  color: #4b0082; /* Índigo Escuro */
}

.detalhes-info h1 {
  font-size: 1.8em;
  margin: 0;
  color: #4b0082; /* Índigo Escuro */
}

.detalhes-preco {
  margin-top: 10px;
  font-size: 1.5em;
  color: #800080; /* Roxo */
}

.detalhes-descricao {
  font-weight: bold;
}

.descricao-texto {
  font-size: 1em;
  margin-top: 10px;
}

/* Especificações */
.detalhes-especificacoes {
  margin-top: 20px;
}

.especificacoes-tabela {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse; /* Remove as bordas da tabela */
}

.especificacoes-tabela td {
  padding: 8px;
  /* Removi a borda da tabela */
}

.especificacoes-tabela strong {
  color: #4b0082; /* Índigo Escuro */
}

.marca-logo {
  width: 70px; /* Ajuste o tamanho da logo da marca */
  height: auto;
}

/* Actions */
.detalhes-actions {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.adicionar-carrinho {
  background-color: #800080; /* Roxo */
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
}

.adicionar-carrinho:hover {
  background-color: #4b0082; /* Índigo Escuro */
}

/* Voltar */
.voltar {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.voltar button {
  background-color: #dda0dd; /* Orquídea */
  color: #2e0854; /* Roxo escuro */
  padding: 8px 16px;
  border-radius: 5px;
  font-weight: bold;
}

.voltar button:hover {
  background-color: #b660b6; /* Roxo */
  color: white;
}
