.toolbar-title {
    flex: 1;
    text-align: center;
  }
  
  .flex-container {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .mat-column-id {
    width: 5em;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
  }

  .mat-column-numeracao {
    width: 30%;
  }
  
  .mat-column-tamanhoEmCm {
    width: 30%;
}

.mat-column-pais {
    width: 20%;
}

.mat-column-acao {
    width: 15%;
    text-align: right; 
    padding-right: 16; 
}

 /* Tabela com bordas e espaçamento */
 .mat-elevation-z8 {
  border-radius: 10px;
  overflow: hidden;
}


/* Aumentar o ícone do botão de ação */
button[mat-icon-button] mat-icon {
  font-size: 26px;
}

/* Animação ao passar o mouse nos ícones */
button[mat-icon-button]:hover mat-icon {
  transform: scale(1.2);
  transition: transform 0.2s;
}